<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kosa.restaurants.mapper.ReviewMapper">
    <insert id="save">
        <selectKey keyProperty="id" order="BEFORE" resultType="Integer">
            select review_seq.nextval from dual
        </selectKey>
        insert into review(id,restaurant_id,content,score,created_at) values(#{id},#{restaurant_id},#{content},#{score},sysdate)
    </insert>

    <delete id="delete">
        delete from review where id=#{id}
    </delete>
    
    <select id="getAll" resultType="Review">
        select * from review where restaurant_id=#{restaurant_id}
    </select>
</mapper>