.idea/.gitignore
.idea/compiler.xml
.idea/encodings.xml
.idea/jarRepositories.xml
.idea/misc.xml
.idea/vcs.xml
target/classes/application.yml
target/classes/com/kosa/kapple/KappleApplication.class
target/classes/com/kosa/kapple/config/WebMvcConfig.class
target/classes/com/kosa/kapple/controller/ControllerKW.class
target/classes/com/kosa/kapple/controller/ControllerMK.class
target/classes/com/kosa/kapple/domain/ComponentVO.class
target/classes/com/kosa/kapple/domain/OrdersVO.class
target/classes/com/kosa/kapple/domain/ProduceVO.class
target/classes/com/kosa/kapple/domain/ProductVO.class
target/classes/com/kosa/kapple/domain/ProposalVO.class
target/classes/com/kosa/kapple/domain/RetailerVO.class
target/classes/com/kosa/kapple/domain/SaleVO.class
target/classes/com/kosa/kapple/domain/SupplierVO.class
target/classes/com/kosa/kapple/domain/TransportationVO.class
target/classes/com/kosa/kapple/mapper/MapperKW.class
target/classes/com/kosa/kapple/mapper/MapperMK.class
target/classes/com/kosa/kapple/service/ServiceKW.class
target/classes/com/kosa/kapple/service/ServiceKWImpl.class
target/classes/com/kosa/kapple/service/ServiceMK.class
target/classes/com/kosa/kapple/service/ServiceMKImpl.class
target/classes/mapper/mapperKW.xml
target/classes/mapper/mapperMK.xml
target/test-classes/com/kosa/kapple/KappleApplicationTests.class
target/test-classes/com/kosa/kapple/mapper/MapperKWTest.class
target/*
.target/*